.jumbotron {
   font-size: 20px;
   padding: 60px;
   background-color: #5CA0ED;
   text-align: center;
   color: white;
}

body {
   font-family: 'Quicksand', sans-serif;
   margin: 0;
   padding: 0;
}


main {
   max-width: 1280px;
   overflow: auto;
   margin: auto;
   clear: right;
}

nav {
   background-color: #006DB5;
   position: sticky;
   top: 0;
}

nav ul{
   overflow: hidden;
   max-width: 1280px;
   margin: auto;
   list-style-type: none;
   margin: 0;
   padding: 0;
}

nav li {
   float: left;
}

nav a {
   display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

nav a:hover {
   background-color: #111111;
}



/* Body */

body {
   font-family: Arial, Helvetica, sans-serif;
    background-color: #DDF2FF;
 }
  
 h2 {
    color: #DCA11D;
 }
  
 h3 {
    color: #DCA11D;
 }
  
 footer {
    padding: 20px;
    color: white;
    background-color: #006DB5;
 }

 .footer-child {
   max-width: 1280px;
   margin: auto;
 }


 article {
   border: 1px solid gray;
   padding: 10px;
   border-radius: 10px;
   box-shadow: 0px 0px 10px  gray;
   margin: 20px 10px;

}

img.logo {
   float: left;
   margin: 10px;
}

#content {
   float: left;
   width: 75%;
   
}

aside {
   float: right;
   width: 25%;
}

.hidden {
   display: none;
}

* {
   box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
   #content,
   aside {
       width: 100%;
       padding: 0;
   }
}

@media screen and (max-width: 600px) {
   nav ul {
      display: grid;
   }
}