body {
   font-family: Arial, Helvetica, sans-serif;
   background-color: #080C26;
   margin: 0;
   padding: 0;
}


main {
   max-width: 1280px;
   overflow: auto;
   margin: auto;
   clear: right;
}

nav {
   background-color: #0A3873;
   position: sticky;
   top: 0;
}

.menu-mobile {
   background-color: #0A3873; 
   height: 50px;
}

nav ul{
   overflow: hidden;
   max-width: 1280px;
   margin: auto;
   list-style-type: none;
   margin: 0;
   padding: 0;
}

nav li {
   float: left;
}

nav a {
   display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

nav a:hover {
   background-color: #F2DEA2;
   color: #080C26;
}


 h2 {
    color: #DCA11D;
 }
  
 h3 {
    color: #DCA11D;
 }
  
 footer {
    padding: 5px;
    color: white;
    background-color: #0A3873;
 }

 .footer-child {
   max-width: 1280px;
   margin: auto;
 }


 article {
   border: 1px solid gray;
   padding: 10px;
   border-radius: 10px;
   box-shadow: 0px 0px 10px  gray;
   margin: 20px 10px;
   background-color: #FFF;
}

img.logo {
   float: left;
   margin: 10px;
}

#content {
   float: left;
   width: 75%;
   
}

aside {
   float: right;
   width: 25%;
}

.hidden {
   display: none;
}

.menu-mobile {
   display: none;
}

* {
   box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
   #content,
   aside {
       width: 100%;
       padding: 0;
   }
}

@media screen and (max-width: 600px) {
   nav ul {
      display: none;
   }

   .menu-mobile {
      display: block;
   }
}